
            h1{
                border-bottom-style: inset;
                border-bottom-color: black;
                border-bottom-width: 2px;
                text-align: left;
                font-size: 50px;
                background-color:rgba(0,0,0,0.5);
                color: black;
                font-family:"helvetica";
                margin: 0px;
                letter-spacing: 0px;
             
            }
            body{
                text-align: center;
                background-position: auto;
                background-repeat: no-repeat;
                background-size: cover;
            }
      
            input{
                    padding: 4px;
                    width: 200px;
            }
            .sym{
                font-size: 50px;
                border: 2px solid black;
                margin-right: 700px;
                margin-left: 700px;
                color: white;
            
           
                 }
            a{
                display: block;
                text-align: right;
                padding: 1px;
                font-family: "Trebuchet MS";
                font-size: 20px;
                color:orangered;
                margin-left: 1300px;
                border-right-style: solid;
                border-right-color: black;
                background-color: white;
                
                
            }
            h2{
                color: white;
            }